altair
pandas
fastapi
uvicorn
langchain-aws
PyPDF2
langchain
boto3
python-multipart
fastapi-utils
langchain-community
opensearch-py
pydantic
langgraph
numpy
nltk
openpyxl
pytest-warnings
langchain-core
python-docx
scikit-learn
apscheduler
pycryptodome
python-jose[cryptography]==3.3.0
